<h5> Tablolar falan </h5>

<div class="well well-sm">
<table class="table">
  <thead>
    <tr>

      <th>
        <%= sort_link(@searchw,"Yazar") %>
      </th>
      <th>
        <%= sort_link(@searchp,"Gönderi") %>
      </th>
    </tr>
  </thead>
</div>
