<h3> Admin Yönetim Paneli</h3>

<li>Yazarlarla ilgili işlem yapmak için <a href="/admin/writers">Yazar Paneli</a>'ne gidin.
</li>
<li>Gönderilerle ilgili işlem yapmak için <a href="/admin/posts">Gönderiler Paneli</a>'ne gidin.</li>

