<h3> Admin Yönetim Paneli</h3>

<div class="well well-sm">
<table class="table">
  <thead>
    <tr>

      <th>
        <%= sort_link(@searchw,"Yazar") %>
      </th>
      <th>
        <%= sort_link(@searchp,"İsim") %>
      </th>
    </tr>
  </thead>
  <tbody>
  <%= render @writers %>
  </tbody>
</div>

<!--<h3> Gönderiler </h3>-->
<!--<%=render @posts %>-->
