<h2><%= @writer.name.upcase %></h2>

<ul class="list-group">
	<li class="list-group-item">E-Posta: <%= @writer.email %></li>
	<li class="list-group-item">Oluşturulma Tarihi: <%= @writer.created_at %></li>
	<li class="list-group-item">Son Güncellenme: <%= @writer.updated_at %></li>
</ul>
