<div class="page-header">
  <h1>Gönderileriniz <small>Tüm gönderiler</small></h1>
</div>
<ul class="list-group">
  <li class="list-group-item">Postları</li>
  <li class="list-group-item">Listelemek</li>
  <li class="list-group-item">İçin</li>
  <li class="list-group-item">Bir</li>
  <li class="list-group-item">Yöntem</li>
</ul>
