<h3>Yeni Gönderi</h3>

<%= simple_form_for([:writer,@comment], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :content, label: "İçerik", placeholder: 'En fazla 500 karakter' %>
  <%= f.submit 'Yolla Gitsin' %>
<% end %>
