<div class="page-header">
  <h1>Gönderileriniz <small>Tüm gönderiler</small></h1>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Başlık</td>
			<td>Post</td>
			<td>İşlem</td>
		</tr>
	</thead>	
	<tbody>
        <% @posts.each do |p| %>
	<tr>
		<td><%= link_to p.title, [:writer, p] %></td>
		<td><%= p.content%></td>
		<%= render @posts %>
	</tr>
	<% end %>
	</tbody>
</table>
<table class="table table-bordered table-vertical">
	<thead></thead>
	<tbody>
	</tbody>
</table>
