<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sözlük</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<nav role="navigation" class="navbar navbar-default navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/writers/sign_in">Profile</a></li>
                <li><a href="#">Messages</a></li>
		<li class="passive"><a new_writer_registration_path>Pasif</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/writers/sign_in">Login</a></li>
            </ul>
        </div>
    </div>
</nav>                

</head> 

<body> 
<%= yield %>
</body>

</html>
