<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sözlük</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<nav role="navigation" class="navbar navbar-default navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/writer/edit">Profile</a></li>
                <li><a href="#">Messages</a></li>
		<li class="passive"><a new_writer_registration_path>Pasif</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
	    <%if !current_writer && !current_admin%>
                <li><a href="/writer/sign_up">Sign Up</a></li>
                <li><a href="/writer/sign_in">Login</a></li>
 	    <% elsif current_writer %>
		<li><%= link_to "Log Out", destroy_writer_session_path,:method => :delete %></li>
            <%elsif current_admin %>
              <li><%= link_to "Log out", destroy_admin_session_path,:method => :delete %></li>
  	    <% end %>
            </ul>
        </div>
    </div>
</nav>                

</head> 

<body> 
  <div  class="col-md-2">
	  <ul>
		  <% Post.all.each do |post| %>
		  <% Post.order('created_at DESC')%>
		  <li><%= link_to post.title, [:writer, post] %></li>
		  <% end %>
	  </ul>
  </div>
  <div class="col-md-10">
    <%= yield %>
  </div>
</body>

</html>
